/* Smallest devices (575px and below) */
.project {
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .project {
        
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .project {
    
    }   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    img {
        height: auto;
        width: 500px;
    }

    .project {
        width: fit-content;
        height: fit-content;
        margin-right: 20px;
    }

    .project img {
        border-radius: 25px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .project {
        
    }
}
