/* Smallest devices (575px and below) */
.main {
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .main {
        
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .main {
    
    }   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin: 0 auto;
        font-size: 28px;
    }

    .text-rollover {
        
    }

    .design, .development {
        display: flex;
        flex-direction: row;
        margin: 5vh 2vh 2vh 40vh;
        overflow-x: hidden;
        max-width: calc(100vw - 450px);
    }

    .pagination {
        position: absolute;
        left: 550px;
        bottom: 25px;
        height: 40px;
        width: fit-content;
        /* background-color: #9DD9D2; */
    }

    .icons {
        /* color: #392F5A; */
        font-size: 50px;
        margin: 5px 0;
        cursor: pointer;
    }

    .icons:hover {
        font-size: 70px;
        margin: -5px;
        background-color: #FFF8F0;
        border-radius: 50%;
    }

    .leftArrow {
        position: fixed;
        top: 35%;
        left: 45%;
    }

    .rightArrow {
        position: fixed;
        top: 35%;
        right: 15%;
    }

    

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .main {
        
    }
}

/* Light style */
.lightIcons {
    color: #FF8811;
}

/* Dark style */
.darkIcons {
    color: #2D9BDB;
}

/* Blue style */
.blueIcons {
    color: #FEA926;
}