/* Smallest devices (575px and below) */
.footer {
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .footer {
        
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .footer {
    
    }   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .footer {
        display: flex;
        flex-direction: column;
        width: 98vw;
        height: 0.75vh;
        /* background-color: #FFF8F0; */
    }

    .socialfooter {
        display: flex;
        align-items: center;
        position: fixed;
        height: 40px;
        width: 98vw;
        left: 1vw;
        right: 1vw;
        bottom: 25px;
    }

    .hr {
        width: 100%;
        padding: 0;
        border: none;
        height: 3px;
        /* background-color: #392F5A; */
    }

    .socials {
        position: absolute;
        left: 100px;
        bottom: 25px;
        height: 40px;
        width: fit-content;
        /* background-color: #FFF8F0; */
    }

    .icons {
        /* color: #FF8811; */
        font-size: 40px;
        margin: 0 10px;
        cursor: pointer;
    }

    .icons:hover {
        margin-left: 5px;
        margin-top: -5px;
        font-size: 45px;
    }

    .pagination {
        position: absolute;
        left: 550px;
        bottom: 25px;
        height: 40px;
        width: fit-content;
        /* background-color: #9DD9D2; */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .footer {
        
    }
}

/* Light style */
.lightHR {
    background-color: #392F5A;
}

.lightNavIcons {
    color: #FF8811;
    background-color: #FFF8F0;
}

.lightMainIcons {
    color: #FF8811;
    background-color: #9DD9D2;
}

/* Dark style */
.darkHR {
    background-color: #DDDDDD;
}

.darkNavIcons {
    color: #2D9BDB;
    background-color: #151D20;
}

.darkMainIcons {
    color: #2D9BDB;
    background-color: #252D30;
}

/* Blue style */
.blueHR {
    background-color: #DDDDDD;
}

.blueNavIcons {
    color: #FEA926;
    background-color: #030E4F;
}

.blueMainIcons {
    color: #FEA926;
    background-color: #1B2667;
}